/*Header*/
.header {
	height: 80px;
	position: fixed;
	z-index: 10;
	width: 100%;
}

.header:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.logo {
	padding: 0 5px;
}

.white {
	background-color: #FFFFFF;
	color: #1F1F1F;
}

.dark-blue {
	background-color: #00204E;
	color: #FFFFFF;
}

.light-blue {
	background-color: #CDE6FF;
	color: #1F1F1F;
}

.blue {
	background-color: #0068E5;
	color: #FFFFFF;
}

.blue2 {
	background-color: #0A41AA;
	color: #FFFFFF;
}

.main-menu-nav-mobile {
	display: none;
}

.navbar-toggler {
	padding: 2px 3px;
}

.main-menu-nav-web .nav-link{
	color: #1F1F1F;
	font-family: Poppins;
	font-size: 14px;
	padding: 10px;
}

.nav-mobile .nav-link{
	color: #1F1F1F;
	font-family: Poppins;
	font-size: 14px;
	padding: 0;
}

.main-menu-nav-web .nav-link: hover{
	color: #1F1F1F;
	font-family: Poppins;
	font-size: 14px;
	padding: 10px;
}

.main-menu-nav-web .nav-item.sign-in-link {
	margin-left: 150px;
    padding-right: 28px;
}

.nav-item .get-demo-btn {
	font-size: 16px;
	background: #FFCB02;
	border-radius: 100px;
	text-transform: uppercase;
	padding: 10px 30px;
	font-weight: 500;
	align-items: center;
	letter-spacing: 0.15em;
}

.get-demo-btn {
	text-decoration: none;
	font-size: 16px;
	color: #1F1F1F;
	background: #FFCB02;
	border-radius: 100px;
	text-transform: uppercase;
	padding: 10px 30px;
	font-weight: 500;
	align-items: center;
	letter-spacing: 0.15em;
}

.get-demo-btn:hover {
	text-decoration: none;
	color: #1F1F1F;
}

.navbar-toggler {
	float:  right;
}

.nav-mobile {
	border-top: 0.5px solid #000;
	padding: 30px 20px;
}

/*Content*/

.main-container {
	padding-top: 102px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot {
	height: 630.07px;
	width: 642.43px;
	background-color: #0068E5;
	border-radius: 50%;
	position: absolute;
	left: 71.49%;
	right: -9.1%;
	top: -1.1%;
	bottom: 12.69%;
	z-index: 0;
}

.small-dot {
	height: 180px;
	width: 180px;
	background-color: #0068E5;
	border-radius: 50%;
	position: absolute;
	right: 0px;
    top: 235px;
    bottom: 0;
    left: 1338px;
	z-index: 1;
}

.main-container .container {
	padding: 0 29px;
}

.section-texts {
	margin-top: 81px;
}

.section-texts p{
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.main-container h1 {
	font-size: 55px;
	font-weight: 700;
	font-family: Playfair Display;
	line-height: 65px;
}

.main-container p {
	font-size: 20px;
	line-height: 32px;
	font-family: Poppins;
	margin-top: 40px;
}

.main-container p span {
	font-weight: 700;
}

.get-demo-pill-container {
	width: 200px;
	padding-top: 40px;
}

.pill { 
  width: 60px; 
  height: 60px; 
  border-radius: 100px;
  background-color: #FFCB02;
  transition: width .5s ease;
  float: left;
}

.pill:hover,
.pill:focus { 
  width: 100%;
}

.pill img {
	padding: 22px 25px;
}

.pill span {
	position: absolute;
	padding: 19px 15px;
	font-weight: 500;
	font-family: Poppins;
	font-size: 16px;
	text-transform: uppercase;
	color: #1F1F1F;
}

.optional-news-conatainer {
	background-color: #CDE6FF;
	font-family: Poppins;
	padding: 20px 60px;
	font-size: 20px;
	position: absolute;
	top: 82%;	
}

.optional-news-conatainer .get-demo-pill-container-2 {
	width: 200px;
	float: right;
}

.optional-news-conatainer .pill { 
  background-color: #FFFFFF;
}

.partners-logos-container {
	text-align: center;
}

.partners-logos-container.formpage {
	text-align: left;
}

.partners-logos-container .container {
	padding: 0 29px;
}

.header-6 {
	font-family: Poppins;
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 0;
	padding: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.partners-logo {
	padding-right: 34px;
}

.partners-logos {
  height:100px; 
  position:relative; 
  overflow:hidden;
}

.logos-banner {
	position:absolute; 
	top:0px;
	left:0px;
	overflow:hidden; 
	white-space: nowrap;
	animation: bannermove 10s linear infinite;
}

.logos-banner-2 {
	position:absolute; 
	top:0px;
	left:0px;
	overflow:hidden; 
	white-space: nowrap;
	animation: bannermove2 10s linear infinite;
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-102%, 0);
  }
}

@keyframes bannermove2 {
  0% {
      transform: translate(102%, 0);
  }
  100% {
      transform: translate(0%, 0);
  }
}

.partners-logos-container.formpage .logos-banner {
	animation: none;
}

.partners-logos-container.formpage .header-6 {
	padding: 50px 0;
}

.what-we-do-container {
	padding: 70px 0;
}

.section-title {
	font-family: Poppins;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.header-2 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 56px;
	text-align: center;
	margin:  15px 0;
}

.header-3 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	text-align: left;
	margin:  40px 0;
}

.sub-content {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin: 24px auto;
}

.sub-content {
	padding: 0 290px;
} 

.what-we-do-container h4 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
}

.what-we-do-container .row p.sub-content {
	text-align: left;
	padding: 0;
}

.what-we-do-container ul {
	padding: 0;
}

.what-we-do-container ul li {
  background: url('../assets/img/svg/check-circle-1.svg') no-repeat 0 2px;
  padding: 0 38px;
  list-style: none;
  margin: 0;
}

.cta-link {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.15em;
	color: #1F1F1F;
}

.cta-container img {
	margin-right: 10px;
}

.cta-link:hover {
	color: #1F1F1F;
}

.what-we-do-container .bg-img-2 {
	text-align: right;
}

.what-we-do-container .bg-img-3 {
	text-align: left;
}

.how-we-do-container {
	padding: 70px 0 0 0;
}

.how-we-do-container .tabs-container .nav-tabs{
	border-bottom: none;
}

.how-we-do-container .tabs-container .nav-link {
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
	padding: 10px 30px;
	font-size: 14px;
	border-bottom: 2px solid #FFFFFF;
	line-height: 21px;
	letter-spacing: 3px;
	text-align: center;
}

.how-we-do-container .tabs-container .nav-link.active {
	background-color: transparent;
	border: none;
	border-bottom: 6px solid #FFCB02;
}

.how-we-do-container .tabs-container .nav-link.active:hover {
	border: none;
	border-bottom: 6px solid #FFCB02;
}

.how-we-do-container .tabs-container .nav-link:hover {
	border: none;
	border-bottom: 2px solid #FFFFFF;
}

.how-we-do-container .tab-content {
	text-align: center;
}

.how-we-do-container .tab-content #tab-1-content {
	padding: 97px 0 119px 0;
}

.how-we-do-container .tab-content #tab-2-content {
	background-image: url('../assets/img/svg/w-people-bg.svg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 97px 0 119px 0;
}

.statistics-container {
	position: relative;
	overflow: hidden;
}

.statistics-container.white {
	background-image: url('../assets/img/svg/form img bg 1.svg');
	background-repeat: no-repeat;
	background-position: 800px 0;
}

.statistics-container.white .header-3 {
	margin: 20px 0;
}

.statistics-container  .pill {
 	background-color: #FFFFFF;
}

.statistics-container .get-demo-pill-container {
	padding: 0;
}

.statistics-container .container {
	padding-bottom: 64px;
}

.statistics-container .stat-title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	padding-top: 36px;
}

.statistics-container.white .stat-title {
	padding-top: 0;
}

.statistics-container .stat-info {
	padding-top: 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.feedbacks-container {
	padding: 70px 0;
	position: relative;
}

.feedbacks-container .section-title,
.feedbacks-container .header-2{
	text-align: left;
}

.feedbacks-container .feedbacks-content {
	position: relative;
	overflow: hidden;
}

.feedbacks-container .feedbacks-content .row-1,
.feedbacks-container .feedbacks-content .row-2 {
	display: inline-flex;
}

.feedbacks-container .feedbacks-content .row-1 {
	margin-left: -99px;
}

.feedbacks-content .container {
	padding: 0;
}

.feedbacks-container .feedbacks-content .featured-feedbacks-filler {
	width: 585px;
}

.feedbacks-container .feedbacks-content .featured-feedbacks {
	background-color: #FFFFFF;
	background-image: url('../assets/img/svg/double-quote.svg');
	background-repeat: no-repeat;
	background-position: 30px 25px;
	box-shadow: 0 5px 15px rgba(0,0,0,.15);
	margin: 0 15px 15px 15px;
	width: 585px;
	position: absolute;
	z-index: 1;
}

.feedbacks-container .feedbacks-content .featured-feedbacks-filler {
	margin: 0 15px 15px 15px;
	width: 585px;
}

.feedbacks-container .feedbacks-content .featured-feedbacks:hover,
.feedbacks-container .feedbacks-content .normal-feedbacks:hover {
	background-image: url('../assets/img/svg/double-quote-white.svg');
	background-color: #0A41AA;
	color: #FFFFFF;
}

.feedbacks-container .feedbacks-content .featured-feedbacks .featured-flag {
	background-color: #0068E5;
	padding: 10px 20px 10px 30px;
	border-radius: 100px 0px 0px 100px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 143px;
	float: right;
}

.feedbacks-container .feedbacks-content .featured-feedbacks p,
.feedbacks-container .feedbacks-content .normal-feedbacks p {
	padding: 80px 25px 25px 25px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	height: 225px;
}

.feedbacks-container .feedbacks-content .normal-feedbacks {
	background-color: #FFFFFF;
	background-image: url('../assets/img/svg/double-quote-red.svg');
	background-repeat: no-repeat;
	background-position: 30px 25px;
	box-shadow: 0 5px 15px rgba(0,0,0,.15);
	margin: 0 15px 15px 15px;
	width: 380px;
}

.feedbacks-container .feedbacks-content .feedbacks-commentor {
	padding: 0 25px 25px 25px;
	display: inline-flex;
}

.feedbacks-container .feedbacks-content .featured-feedbacks:hover .feedbacks-commentor {
	display: none;
}

.feedbacks-container .feedbacks-content .normal-feedbacks:hover .feedbacks-commentor {
	display: none;
}

.feedbacks-container .feedbacks-content .feedbacks-commentor .commentor-image-container img{
	border: 2px solid #8CB8ED;
	border-radius: 100%;
}

.feedbacks-container .feedbacks-content .feedbacks-commentor .commentor-details-container {
	padding: 5px 17px;
}

.feedbacks-container .feedbacks-content .feedbacks-commentor .commentor-details-container .job-title {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.feedbacks-container .feedbacks-content .learn-more-link-container {
	   padding: 40px 25px 25px 25px;
	   display: none;
}

.feedbacks-container .feedbacks-content .featured-feedbacks:hover .learn-more-link-container {
	display: block;
}

.feedbacks-container .feedbacks-content .normal-feedbacks:hover .learn-more-link-container {
	display: block;
}

.feedbacks-container .feedbacks-content .learn-more-link-container a{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 10px;
	padding-top: 5px;

}

.feedbacks-container .see-customers-pill-container {
	width: 320px;
}

.feedbacks-container .content-controller-container {
	margin: 20px 0;
}

.feedbacks-container .content-controller-container div {
	float: right;
}

.feedbacks-container .content-controller-container .card-controller { 
  width: 38px; 
  height: 38px; 
  border-radius: 100px;
  background-color: #FFCB02;
  opacity: 50%;
  padding: 14px 22px;
  margin: 0 10px;
}

.feedbacks-container .content-controller-container .card-controller:hover {
	opacity: 100%;
}

.outcomes-container {
	background-image: url('../assets/img/svg/outcomes-bg.svg');
	background-repeat: no-repeat;
	background-position: 800px 0;
	padding-bottom: 22px;
}

.outcomes-container .section-title,
.outcomes-container .header-2,
.outcomes-container p.sub-content {
	text-align: left;
}

.outcomes-container .people-glass-logo {
	padding: 25px 0;
}

.outcomes-container p.sub-content {
	padding: 0;
}

.outcomes-container  .pill {
 	background-color: #FFFFFF;
}

.outcomes-container .bg-img-4 {
	text-align: center;
	margin: auto 0;
}

.explore-peopleglass-pill-container {
	float: right;
	width: 300px;
}

.resources-container {
	padding: 70px 0;
}

.resources-container .section-title,
.resources-container .header-2 {
	text-align: left;
}

.resources-container .header-2 {
	padding-bottom: 20px;
}

.resources-container .card {
	border: none;
	box-shadow: 0 5px 15px rgba(0,0,0,.15);

}

.resources-container .card:hover {
	background-color: #0A41AA;
	color: #FFFFFF;
}

.resources-container .card {
	position: relative;
}

.resources-container .card .card-icon {
	background-color: #0068E5;
	padding: 10px 20px 10px 30px;
	position: absolute;
	right: 0;
	width: 200px;
	height: 104px;
	clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.resources-container .card .card-icon img {
	float: right;
}

.resources-container .card:hover .card-cta{
	color: #FFFFFF;
}

.resources-container .card .arrow-right {
	background: url('../assets/img/svg/right-arrow.svg') no-repeat 0 14px;
	padding: 10px;
}

.resources-container .card:hover .arrow-right{
	background: url('../assets/img/svg/right-arrow-white.svg') no-repeat 0 14px;
}

.resources-container .card-content-container {
	padding: 24px 40px 24px 20px;
}

.resources-container .card-title {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.resources-container .card-content {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
}

.resources-container .card-date-place {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 15px 0;
	border-bottom: 1px solid #979797;
}

.resources-container .card-cta-container {
	padding-top: 24px;
}

.resources-container .card-cta {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding-right: 75px;
	color: #1F1F1F;
	cursor: pointer;
}

.resources-container .card-cta img {
	padding-right: 10px;
}

.call-out-section {
	padding: 70px 0 120px 0;
}

.call-out-section .header-2 {
	padding: 0 140px;
}

.call-out-section .get-demo-pill-container {
	margin: auto;
}

.call-out-section .pill { 
  background-color: #FFFFFF;
}

.content {
	position: relative;
}

.main-form-container {
	position: relative;
	padding: 170px 0 70px 0;
}


.main-form-container .section-title{
	text-align: left;
}

.main-form-container h1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 65px;
	padding-bottom: 40px;
}

.main-form-container p {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
}

.main-form-container ul {
	padding: 0;
}

.main-form-container ul li {
	background: url('../assets/img/svg/check-circle-1.svg') no-repeat 0 14px;
	padding: 12px 38px;
	list-style: none;
	margin: 0;
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.content .form-container {
	position: absolute;
	top:  200px;
	right: 120px;
	width: 585px;
	box-shadow: 0px 2px 40px rgba(128, 128, 128, 0.2);
	padding: 32px 17px;
}

.content .form-container .row {
	margin: 0;
}

.content .form-container .form-item {
	border: 1px solid #000000;
	padding: 3px 10px;
	margin-bottom: 24px;
}

.content .form-container .form-item .label {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.5);
}

.content .form-container .form-item .label label{
	width: 100%;
	margin-bottom: 0;
}

.content .form-container .form-item input,
.content .form-container .form-item select,
.content .form-container .form-item textarea {
	width: 100%;
	border: none;
}

.content .form-container .form-item textarea {
	min-height: 100px;
}

.content .form-container .form-item input:focus,
.content .form-container .form-item select:focus,
.content .form-container .form-item textarea:focus {
	 outline: none;
}

.content .form-container .form-item input:placeholder,
.content .form-container .form-item textarea:placeholder {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
}

.content .form-container .email-subscription-container p {
	width: 95%;
}
.content .form-container .email-subscription-container input {
	margin-top: 5px;
	margin-right: 5px;
	vertical-align: top;
}

.content .form-container .email-subscription-container input,
.content .form-container .email-subscription-container p {
	display: inline-block;
}

.content .form-container .get-demo-pill-container {
	padding-top: 24px;
}

/*Footer*/
.footer {
	font-family: Poppins;
	font-style: normal;
}

.footer-menu {
	padding-top: 30px;
}

.footer .footer-menus {
	padding-top: 50px;
}

.footer-header {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 24px;
}

.footer-list {
	font-weight: 300;
	font-size: 12px;
}

.footer-list ul{
	padding: 0;
	list-style-type: none;
}

.footer-list li{
	margin-top: 12px;
}

.footer-link {
	color: #FFF;
	cursor: pointer;
}

.footer-link:hover {
	text-decoration: none;
	color: #FFF;
}

.social-logos {
	padding: 34px 0;
}

.social-logos img{
	width: 42px;
}

.social-logos a{
	padding: 5px;
}

.copyright-container {
	border-top:  1px solid #CFCFCF;
	font-size: 13px;
	color: #FFF;
	font-weight: 400;
}

.copyright-container a {
	color: #FFF;
	cursor: pointer;
}

.copyright-container a {
	text-decoration: none;
	color: #FFF;
}

footer .copyright-container a:first-child:after{
	content: "|";
    margin: 0 5px;
}